<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lachesis.windranger.ldm.dao.DeviceMapper" >
  <resultMap id="BaseResultMap" type="com.lachesis.windranger.ldm.dbmodel.Device" >
    <id column="seq_id" property="seqId" jdbcType="BIGINT" />
    <result column="eqp_mac" property="eqpMac" jdbcType="VARCHAR" />
    <result column="eqp_ip" property="eqpIp" jdbcType="VARCHAR" />
    <result column="enable" property="enable" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from device
    where seq_id = #{seqId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lachesis.windranger.ldm.dbmodel.Device" >
    insert into device (seq_id, eqp_mac, eqp_ip, 
      enable, create_time, update_time
      )
    values (#{seqId,jdbcType=BIGINT}, #{eqpMac,jdbcType=VARCHAR}, #{eqpIp,jdbcType=VARCHAR}, 
      #{enable,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lachesis.windranger.ldm.dbmodel.Device" >
    update device
    set eqp_mac = #{eqpMac,jdbcType=VARCHAR},
      eqp_ip = #{eqpIp,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where seq_id = #{seqId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select seq_id, eqp_mac, eqp_ip, enable, create_time, update_time
    from device
    where seq_id = #{seqId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select seq_id, eqp_mac, eqp_ip, enable, create_time, update_time
    from device
  </select>
  <delete id="removeKeysWithSession" parameterType="java.util.List" >
    delete from device where seq_id IN <foreach close=")" collection="list" index="index" item="item" open="(" separator=","> #{item} </foreach>
  </delete>
  <delete id="deleteByBean" parameterType="java.lang.Long" >
    delete from device where 1=1 
    <if test="seqId!=null" >
      and seq_id = #{seqId,jdbcType=BIGINT}
    </if>
    <if test="eqpMac!=null" >
      and eqp_mac = #{eqpMac,jdbcType=VARCHAR}
    </if>
    <if test="eqpIp!=null" >
      and eqp_ip = #{eqpIp,jdbcType=VARCHAR}
    </if>
    <if test="enable!=null" >
      and enable = #{enable,jdbcType=INTEGER}
    </if>
    <if test="createTime!=null" >
      and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="updateTime!=null" >
      and update_time = #{updateTime,jdbcType=TIMESTAMP}
    </if>
  </delete>
  <insert parameterType="com.lachesis.windranger.ldm.dbmodel.Device" id="insertAndReturnKey" keyProperty="seqId" useGeneratedKeys="true" >
    insert into device (seq_id, eqp_mac, eqp_ip, 
      enable, create_time, update_time
      )
    values (#{seqId,jdbcType=BIGINT}, #{eqpMac,jdbcType=VARCHAR}, #{eqpIp,jdbcType=VARCHAR}, 
      #{enable,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lachesis.windranger.ldm.dbmodel.Device" >
    update device set
    <trim suffixOverrides="," >
      <if test="eqpMac != null" >
        eqp_mac = #{eqpMac,jdbcType=VARCHAR},
      </if>
      <if test="eqpIp != null" >
        eqp_ip = #{eqpIp,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </trim>
     where seq_id = #{seqId,jdbcType=BIGINT}
  </update>
  <select id="selectByBean" resultMap="BaseResultMap" parameterType="com.lachesis.windranger.ldm.dbmodel.Device" >
    select * from device where 1=1 
    <if test="seqId!=null" >
      and seq_id = #{seqId,jdbcType=BIGINT}
    </if>
    <if test="eqpMac!=null" >
      and eqp_mac = #{eqpMac,jdbcType=VARCHAR}
    </if>
    <if test="eqpIp!=null" >
      and eqp_ip = #{eqpIp,jdbcType=VARCHAR}
    </if>
    <if test="enable!=null" >
      and enable = #{enable,jdbcType=INTEGER}
    </if>
    <if test="createTime!=null" >
      and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="updateTime!=null" >
      and update_time = #{updateTime,jdbcType=TIMESTAMP}
    </if>
  </select>
  <select id="countByBean" resultType="int" parameterType="com.lachesis.windranger.ldm.dbmodel.Device" >
    select count(0) from device where 1=1 
    <if test="seqId!=null" >
      and seq_id = #{seqId,jdbcType=BIGINT}
    </if>
    <if test="eqpMac!=null" >
      and eqp_mac = #{eqpMac,jdbcType=VARCHAR}
    </if>
    <if test="eqpIp!=null" >
      and eqp_ip = #{eqpIp,jdbcType=VARCHAR}
    </if>
    <if test="enable!=null" >
      and enable = #{enable,jdbcType=INTEGER}
    </if>
    <if test="createTime!=null" >
      and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="updateTime!=null" >
      and update_time = #{updateTime,jdbcType=TIMESTAMP}
    </if>
  </select>
</mapper>